{% extends 'main/base.html' %}

{% block title %}О нас - ГК "Комплексные Системы Безопасности"{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="section-title">О компании</h1>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card p-4 mb-4">
                <p>Группа компаний <strong>"Комплексные Системы Безопасности"</strong> осуществляет свою деятельность с <strong>2001 года</strong>. Мы специализируемся на оснащении объектов самыми современными комплексами систем безопасности.</p>
                
                <h4 style="color: #8B1A1A;" class="mt-4">Руководство и персонал</h4>
                <p>Руководящий состав имеет сертификаты компетентности по системам безопасности. Штат монтажников обучен и имеет дипломы.</p>
                
                <h4 style="color: #8B1A1A;" class="mt-4">Наши преимущества</h4>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>Работа на рынке с 2001 года</li>
                            <li>Более 1000 успешных проектов</li>
                            <li>Сертифицированные специалисты</li>
                            <li>Полный комплекс работ "под ключ"</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Индивидуальный подход к каждому объекту</li>
                            <li>Современное оборудование</li>
                            <li>Гарантийное обслуживание</li>
                            <li>Благодарственные письма от Заказчиков и контролирующих органов</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- СТУ -->
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card p-4 bg-light">
                <h4 style="color: #8B1A1A;"><i class="fas fa-file-alt"></i> Разработка СТУ</h4>
                <p>Разрабатываем специальные технические условия по пожарной безопасности (СТУ) для объектов, в отношении которых отсутствуют требования пожарной безопасности, установленные нормативными правовыми актами Российской Федерации.</p>
                <p>СТУ отражают специфику обеспечения пожарной безопасности и содержат комплекс необходимых инженерно-технических и организационных мероприятий.</p>
            </div>
        </div>
    </div>

    <!-- Дополнительные услуги -->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card p-4">
                <h4 style="color: #8B1A1A;"><i class="fas fa-calculator"></i> Расчеты и испытания</h4>
                <ul>
                    <li>Расчет категорий по взрывопожарной и пожарной опасности зданий и помещений</li>
                    <li>Испытание наружных противопожарных лестниц</li>
                    <li>Независимая оценка пожарных рисков</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-4">
                <h4 style="color: #8B1A1A;"><i class="fas fa-fire-extinguisher"></i> Огнезащита</h4>
                <ul>
                    <li>Огнезащитная обработка конструкций</li>
                    <li>Пропитка и покрытие огнезащитными составами</li>
                    <li>Контроль качества обработки</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}