{% extends 'main/base.html' %}

{% block title %}Услуги - ГК "Комплексные Системы Безопасности"{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="section-title">Наши услуги</h1>
    
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4><i class="fas fa-chart-line"></i> Проектирование</h4>
                    <ul class="mt-3">
                        <li>Обследование объекта</li>
                        <li>Подготовка проектно-сметной документации</li>
                        <li>Разработка СТУ</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4><i class="fas fa-truck"></i> Поставка оборудования</h4>
                    <ul class="mt-3">
                        <li>Отечественное оборудование («ОРИОН», «Стрелец» и другие)</li>
                        <li>Зарубежное оборудование ведущих производителей</li>
                        <li>Гарантия на все оборудование</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4><i class="fas fa-wrench"></i> Монтаж и наладка</h4>
                    <ul class="mt-3">
                        <li>Монтаж систем видеонаблюдения</li>
                        <li>Установка охранно-пожарной сигнализации</li>
                        <li>Монтаж систем пожаротушения</li>
                        <li>Установка контроля доступа</li>
                        <li>Автоматизация ворот и шлагбаумов</li>
                        <li>Общестроительные работы</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4><i class="fas fa-graduation-cap"></i> Обучение и консультации</h4>
                    <ul class="mt-3">
                        <li>Обучение Заказчика работе с системами</li>
                        <li>Консультации по вопросам технической безопасности</li>
                        <li>Техническая поддержка</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4><i class="fas fa-headset"></i> Обслуживание</h4>
                    <ul class="mt-3">
                        <li>Гарантийное обслуживание</li>
                        <li>Послегарантийное обслуживание</li>
                        <li>Плановое ТО систем</li>
                        <li>Экстренный выезд при авариях</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4><i class="fas fa-chart-bar"></i> Аудит и расчеты</h4>
                    <ul class="mt-3">
                        <li>Независимая оценка пожарных рисков</li>
                        <li>Расчёт величин пожарного риска</li>
                        <li>Расчет категорий по взрывопожарной опасности</li>
                        <li>Испытание наружных противопожарных лестниц</li>
                        <li>Огнезащитная обработка</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="alert alert-info mt-3">
        <i class="fas fa-info-circle"></i> На все виды работ предоставляется гарантия. Работаем по договору.
    </div>
</div>
{% endblock %}